<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343616734788-01vqe6kvd0acva450smc2orud4b4tot1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343616734788-01vqe6kvd0acva450smc2orud4b4tot1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Q0Xt1sLnxVbIQJ6Yzr6LSI6B19coYiw</string>
	<key>GCM_SENDER_ID</key>
	<string>343616734788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectSub</string>
	<key>PROJECT_ID</key>
	<string>project-management-8994f</string>
	<key>STORAGE_BUCKET</key>
	<string>project-management-8994f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343616734788:ios:62ed41aab7e1fe0c0e1e11</string>
</dict>
</plist>